<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Fresh Scraped News</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		<h1>Fresh Scraped News</h1>
      	<h2>Step right up. Read all about it. Fresh scraped news from the San Diego Union Tribune</h2>
     
		{{{ body }}}
    {{!-- <script src="app.js"></script> --}}
  </body>
</html>
